#MonashLogo {
    background-color: white;
    padding: 15px;
}

#ReAllocateNavBar {
    background-color: #004185;
    height: 59px;
}

#ReAllocateNavBar h1 {
    line-height: 50%;
    color: white;
    font-style: italic;
}

.nav.navbar-nav {
    margin: auto;
    color: white;
    height: 59px;
    line-height: 59px;
}

.nav.navbar-nav li:hover {
    background-color: #012e5d;
    color: white;
}

.nav.navbar-nav li a {
    border: 0;
    font-size: 14px;
    background-color: #004185;
    color: white;
    height: 57px;
    line-height: 22px;
}

.nav.navbar-nav li a:hover {
    color:white;
}

.nav.navbar-nav li a:focus {
    color:white;
}

#profile, #rightSection {
    border: 1px solid #a9b9c5;
    border-radius: 3px;
}

#enrolment {
    margin-top: 15px;
    border: 1px solid #a9b9c5;
    border-radius: 3px;
}

#enrolment h3 {
    color: white;
    margin: 0;
    padding: 10px 15px;
    height: 46px;
    background-color: #245c96;
}

#profilePic {
    padding: 2%;
}

#profileDetails {
    text-transform: uppercase;
	word-wrap: break-word;
}

#units {
    margin-bottom: 0;
}

.unit {
    background-color: #f1f6fa;
}

.unit h4 {
    color: #004185;
    font-weight: bold;
    margin: 0px;
    padding-top: 10px;
    padding-left: 15px;
}

.unit h5 {
    color: #004185;
    padding: 0 15px;
}

.unit a {
    color: #0000EE;
}

#rightSection {
	padding: 0;
    height: 722px;
    color: #004185;
	overflow: auto;
}

#rightSection h2, h3 {
	padding-left: 15px;
    font-weight: bold;
    color: #004185;
}

#rightSection p {
	padding-left: 15px;
}

#rightSection table {
    margin: 10px 0px 10px 15px;
}

#rightSection table tr td {
    padding-left: 15px;
}

#rightSection hr {
    opacity: 0.6;
    border-color: gray;
}



#rightSection .unitHeader {
    margin: 0px;
    padding: 15px 15px;
    background-color: #245c96;
}

#rightSection .unitHeader h4 {
    margin: 0;
    color: white;
}

#rightSection .container-fluid .table-responsive table {
    margin: 15px 0px 15px 0px;
	text-align: center;
}

#rightSection .container-fluid .table-responsive table tr th, #rightSection .container-fluid .table-responsive table tr td {
	border-style: solid;
	border-color: rgb(221, 221, 221);
	border-width: 1px;
	padding: 0;
	text-align: center;
}

#rightSection .container-fluid .table-responsive table tr th {
    background-color: #e2edf6;
}

#rightSection button {
     float: right;
     border: 0;
     padding: 10px;
     margin-left: 15px;
     font-size: 14px;
     background-color: #245c96;
     color: white;
 }

#rightSection button:hover  {
    background-color: #004185;
}

#rightSection .container-fluid .table-responsive table tr td a, #rightSection .container-fluid .table-responsive table tr td p {
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

#rightSection .container-fluid .table-responsive table tr td a {
    text-decoration: underline;
	width: 100%;
}

#unitTable tr td input {
	margin: 0 auto;
}

.requestTable {
	padding: 0 0 0 15px;
	width: 50%;
} 